*
{
    margin: 0;
    padding: 0;
    color: white;
    width: 100vw;
    height: 100vh;
}

.scene
{
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
}

.page{
    position: absolute;
    overflow-x: hidden;
    
}


section{
    width: 100vw;
    height: 100vh;
    display: flex; 
    outline: solid red 1px;
}
